<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация читателя</title>

    <link rel="stylesheet" href="{% static 'css/client_add.css' %}">
</head>
<body>

<div class="logo">
    <a href="{% url 'main_page' %}"
       style="text-decoration: none; color: inherit;">
        SmartLib
    </a>
</div>

<div class="container">

    <form method="POST" class="form">

        {% csrf_token %}

        <h2>Регистрация читателя</h2>

        <div class="input-group">
            <label>Имя</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>

        <div class="input-group">
            <label>Фамилия</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>

        <div class="input-group">
            <label>Отчество</label>
            {{ form.middle_name }}
            {{ form.middle_name.errors }}
        </div>
{% comment %}
<!--        <div class="input-group">-->
<!--            <label>Паспорт</label>-->
<!--            {{ form.passport }}-->
<!--            {{ form.passport.errors }}-->
<!--        </div>-->
{% endcomment %}
        <div class="input-group">
            <label>Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="input-group">
            <label>Дата рождения</label>
            {{ form.birth_date }}
            {{ form.birth_date.errors }}
        </div>

        <div class="input-group">
            <label>Адрес проживания</label>
            {{ form.address }}
            {{ form.address.errors }}
        </div>

        <button type="submit" class="submit-btn">
            Зарегистрировать читателя
        </button>

    </form>

</div>

</body>
</html>