<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <a href="{% url 'main_page' %}" style="text-decoration: none; color: inherit;">
            SmartLib
        </a>
    </div>
    <h1>{{ book.title }}</h1>
    <h2>{{ book.description }}</h2>


    <h3>Дополнительные изображения:</h3>
    {% for img in additional_imgs %}
        <img src="{{ img.addit_imgs.url }}" alt="Доп. фото" style="width: 200px; margin: 10px;">
    {% empty %}
        <p>Дополнительных фото нет.</p>
    {% endfor %}

    <div class="button-group">
        <a href="{% url 'book_redaktor' book.id %}" class="cancel-link">Редактировать</a>
    </div>

</body>
</html>